<div class="table-cell">Código</div>
<div class="table-cell">Descripción Rechazo</div>
<div class="table-cell">Doc.</div>
<div class="table-cell">Cant.</div>
<div class="table-cell"></div>
<ng-container *ngFor="let row of treatedData; let i = index">
  <div *ngFor="let column of row | keyvalue;"
    class="table-cell" [class.even-row]="i%2===0">
        <div class="code-cell" *ngIf="column.key==='1'; else elseBlock">{{column.value}}</div>
        <ng-template #elseBlock>{{column.value}}</ng-template>
  </div>
  <div class="table-cell" [class.even-row]="i%2===0">
    <img class="table-icon" src="../../../assets/icon/magic-wand.svg" alt="IA"/>
  </div>
</ng-container>