:host{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 40px;
    border: 1px solid #e2e7f1;
    overflow: auto;
}

.table-cell{
    border-bottom: 1px solid #e2e7f1;
    font-size: var(--font-smaller);
    display: grid;
    padding: 10px;
}

.table-cell:first-of-type{
    justify-content: center;
}

.table-icon{
    height: 15px;
    width: 15px;
}

.even-row{
    background-color: var(--lightest-gray);
}

.code-cell{
    background-color: #FF5C752E;
    color: #FF5C75;
    width: fit-content;
    height: fit-content;
    padding: 6px;
    border-radius: 4px;
    justify-self: center;
}