.line{
    height: 10%;
    background-color: #4b4b5a;
    display: block;
    position: absolute;
    width: 100%;
    transition: all 0.15s;
}

.top{
    top: 15%;
}

.middle{
    top: 45%;
}

.bottom{
    bottom: 15%;
}

.top.closing,
.top.closed{
    top: 45%;
}

.bottom.closing,
.bottom.closed{
    bottom: 45%;
}

.middle.closing,
.middle.closed{
    opacity: 0;
}

.top.closed{
    transform: rotate(45deg);
}

.bottom.closed{
    transform: rotate(-45deg);
}

:host{
    min-width: 10px;
    min-height: 10px;
    justify-content: space-between;
    position: relative;
    display: block;
}