<ion-content>
  <form [formGroup]="form" class="card-container">
    <ion-card class="login-card">
      <ion-card-header class="card-title">{{cardTitle}}</ion-card-header>
      <ion-card-content class="card-content">
        <div *ngIf="!isCreate" class="welcome-container">
          <h4 class="welcome-title" i18n>Welcome!</h4>
          <p class="welcome-subtitle" i18n>Please, login with your account.</p>
        </div>
        <div>
          <div class="input-wrapper" *ngFor="let control of form.controls | keyvalue : keepOrder">
            <ion-input
              [placeholder]="getPlaceholder(control.key)"
              [label]="control.key | titlecase"
              [type]="getControlType(control.key)"
              [errorText]="getErrorText(control.value.errors)"
              [formControlName]="control.key"
              labelPlacement="stacked"
              [clearOnEdit]="false"
              mode="ios">
              <div class="show-password-button" (click)="showPassword = !showPassword" slot="end" *ngIf="control.key.includes('password')" >
                <span class="slash" [class.visible]="showPassword"></span>
                <ion-icon name="eye-outline"/>
              </div>
            </ion-input>
          </div>
          <ion-text color="danger" *ngIf="form.errors && form.errors['dbError']">{{form.errors['dbError']}}</ion-text>
        </div>
        <div>
          <ion-button class="login-button" type="submit">{{buttonText}}</ion-button>
          <a [routerLink]="isCreate ? '/login' : '/user/create'">{{linkText}}</a>
        </div>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
<spinner *ngIf="form.pending"></spinner>